.presentation {
  margin: 0 auto;
  padding: 0;
  max-width: 800px;
}

.sections-title {
  font-family: var(--seccionsTitleLetra);
  font-size: var(--sectionsTitleTamaño);
  color: var(--sectionsTitleColor);
  text-align: var(--sectionsTextPosition);
  /* padding-top:
  padding-bottom */
}

.abeja-container {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* padding-top:
  padding-bottom */
}

.abeja-photo-item {
  width: 180px;
  height: 180px;
  border: solid 7px rgb(190, 181, 181);
  box-sizing: content-box;
  overflow: hidden;
  border-radius: 5px;
  border-bottom: 15px;
  /* padding-top:
  padding-bottom */
}

.abeja-name-item {
  font-family: var(--abejaNombreLetra);
  font-size: var(--abejaNombreTamaño);
  color: var(--abejaNombreColor);
  text-align: var(--sectionsTextPosition);
  box-sizing: border-box;
  padding: 15px;
  width: 50%;
  /* padding-top:
  padding-bottom */
}

.abeja-text-item {
  font-family: var(--abejaTextoLetra);
  font-size: var(--abejaTextoTamaño);
  color: var(--abejaTextoColor);
  text-align: var(--sectionsTextPosition);
  box-sizing: border-box;
  padding: 15px;
  width: 50%;
  /* padding-top:
  padding-bottom */
}
/*
.abeja-rss-item {
  color: #099D8D 100%;
  padding-top: 15px;
  padding-bottom: 45px;
  margin: auto;
}
*/
/*FIN PARTE MARTA*/
======= <<<<<<< HEAD *:root {
  --brand-color: #099d8d;
  font-family: Open Sans;
}
=======

>>>>>>> 157271c7843f9eff2ea084494b4ad9cca8a9da43

/* Parte Julia */
>>>>>>> 863f56b99165593ab24d8367edd82bf7fabfa514

.container_name {
  box-sizing: content-box;
  height: 60px;
  background-color: #099d8d;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.container_nav {
  height: 45px;
  background-color: #14d9c4;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item {
  font-family: sans-serif;
  color: white;
}
<<<<<<< HEAD
>>>>>>> 157271c7843f9eff2ea084494b4ad9cca8a9da43
=======

/* Fin parte Julia */
>>>>>>> 863f56b99165593ab24d8367edd82bf7fabfa514
/* Parte Azahara*/

.abejas {
  position: relative;
  display: flex;
}
.foto {
  display: flex;
}

.lema {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-30%, -50%);
  font-size: 40px;
  font-weight: bold;
}
.team4 {
  text-align: center;
}
