<footer class="footer_container">
  <small class="footer_title">Colmena &copy;2018</small>
  <nav class="footer_nav">
    <ul>
      <li>
        <a class="footer_nav--link" href="">Equipo</a>
      </li>
      <li>
        <a class="footer_nav--link" href="#who">Quienes Somos</a>
      </li>
      <li>
        <a
          href="contact.html"
          class="footer_nav--link"
          title="ir a contacto"
          target="_blank"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
  <img
    class="footer_logo"
    src="./assets/images/logo-adalab.png"
    alt="logo-adalab"
  />
</footer>
