<footer class="footer">
  <small class="footer_title">Colmena &copy;2018</small>
  <nav class="footer_menu">
    <ul class="footer_ nav">
      <li>
        <a class="footer_nav--link" href="">Equipo</a>
      </li>
      <li>
        <a class="footer_nav--link" href="">Quienes Somos</a>
      </li>
      <li>
        <a class="footer_nav--link" href="">Contacto</a>
      </li>
    </ul>
  </nav>
  <img
    class="footer_logo"
    src="./assets/images/logo-adalab.png"
    alt="logo-adalab"
  />
</footer>
