<div class="triangle"></div>
<section class="wrapper">
    <article class="sw">
      <h2 class="syw-title">Fortalezas</h2>
      <p class="syw-text">
        Colmena surgida de la unión de abjeas polinizadoras provenientes de
        jardines muy distintos. ¡Deseando construnir nuevas colmenas!
      </p>
    </article>
    <article class="sw">
      <h2 class="syw-title">Debilidades</h2>
      <p class="syw-text">
        La gestión del tiempo nos está jugando malas pasadas sobre todo
        debido a no priorizar y la falta de conocimientos, lo cual poco a
        poco iremos adquiriendo y superando y con ello optimizaremos esos
        tiempos.
      </p>
    </article>
  </section>