<div class="triangle"></div>
<section class="wrapper">
    <article class="sw">
      <h2 class="syw-title">Fortalezas</h2>
      <p class="syw-text">
        Somos un equipo multidisciplinar, abarcamos sectores tan dispares como el
        diseño, gestión de grandes cuentas, docencia, relaciones públicas lo cual
        nos aporta mucho haciéndonos muy constructivas, siempre positivas y buscando
        que nuestras debilidades lleguen a ser nuestras fortalezas.
      </p>
    </article>
    <article class="sw">
      <h2 class="syw-title">Debilidades</h2>
      <p class="syw-text">
        La gestión del tiempo nos está jugando malas pasadas sobre todo
        debido a no priorizar y la falta de conocimientos, lo cual poco a
        poco iremos adquiriendo y superando y con ello optimizaremos esos
        tiempos.
      </p>
    </article>
  </section>