<section class="boxmotto">
    <div class="hero">Zumbándole al código</div>
  </section>
  <section>
    <h2 class="Team">Equipo</h2>
    <p class="TextTeam">
      Somos un equipo multidisciplinar, abarcamos sectores tan dispares como
      el diseño, gestión de grandes cuentas, docencia, relaciones públicas
      lo cual nos aporta mucho haciéndonos muy constructivas, siempre
      positivas y buscando que nuestras debilidades lleguen a ser nuestras
      fortalezas.
    </p>
  </section>