<section class="team_image">
  <div class="team_motto">
    <h2 class="motto_text">Zumbándole al código</h2>
  </div>
</section>
<section>
  <h2 class="team_title">EQUIPO</h2>
  <p class="team_text">
    Somos un equipo multidisciplinar, abarcamos sectores tan dispares como el
    diseño, gestión de grandes cuentas, docencia, relaciones públicas lo cual
    nos aporta mucho haciéndonos muy constructivas, siempre positivas y buscando
    que nuestras debilidades lleguen a ser nuestras fortalezas.
  </p>
</section>
