/* Parte Laura */

/* footer */
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_containergeneral {
  width: 320px;
  height: 250px;
  /* margin: 1240px 0 0;*/
  padding: 30px 74px 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px $color-lightgrey;
  background-color: $color-background;
}
.footer_title {
  width: 172px;
  height: 20px;
  margin: 0 0 20px;
  font-family: $font-secondary;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: $color-lightgrey;
}
.footer_nav {
  width: 114px;
  height: 60px;
  margin: 20px 29px 30px;
}
.footer_nav--link {
  text-transform: uppercase;
  font-weight: bold;
  font-family: $font-secondary;
  font-size: 14px;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-decoration: none;
  opacity: 0.75;
  color: $color-darkgrey;
  display: flex;
  justify-content: center;
}
.footer_logo {
  width: 115.9px;
  height: 45px;
  padding: 0px;
  margin: 30px 28.1px 0 28px;
}
@media all and (min-width: 768px) {
  .footer_containergeneral {
    width: 100%;
    height: 170px;
    padding: 24px 45px 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer_title {
    margin: 6px 182px 15px 0;
  }
  .footer_nav {
    width: 324px;
    height: 90px;
    margin: 0 0 0 182px;
  }
  .footer_nav--link {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 2.14;
  }
  .footer_logo {
    margin: 15px 238.1px 4px 0;
  }
  @media all and (min-width: 1200px) {
    .footer_nav {
      margin: 0 0 0 428px;
    }
  }
}
