/* Parte Jero */
.triangle {
  width: 30px;
  height: 30px;
  background-color: white;
  position: relative;
  transform: rotate(45deg);
  margin: -15px auto;
}

.wrapper {
  padding: 30px 15px 45px 15px;
  background-color: rgba(184, 184, 185, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.syw-title {
  color: #099d8d;
  font-size: 22px;
  font-family: "Rubik";
  margin: 0;
  font-weight: 500;
  text-align: center;
  padding-bottom: 15px;
}
.syw-text {
  color: 54585a;
  font-size: 16px;
  font-family: "open sans";
  text-align: center;
  line-height: 1.5;
  margin: 0 20px 0 20px;
}
/* Fin parte Jero */
@media all and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    padding: 30px 15px 45px 15px;
  }
  .sw {
    width: 50%;
  }
}
