/* Parte Jero */
.wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-around;
  background-color: #b8b8b9;
  line-height: 24px;
}

.syw {
  color: #099d8d;
  font-size: 22px;
  font-family: "Rubik";
}

/* Fin parte Jero */
