/* Parte Azahara */
.team_image {
  width: 100vw;
  height: 316px;
  display: flex;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-image: url(../images/green-color-antenna-white-bee.jpg);
  background-size: cover;
  z-index: 1;
}
.team_motto {
  box-sizing: border-box;
  height: 80px;
  flex-direction: row;
  position: absolute;
  top: 200px;
  background-color: white;
  opacity: 100%;
  transform: translate(6vh, 10vh);
  text-align: center;
  font-family: "Rubik";
  padding-top: 30px;
  z-index: 2;
}

.motto_text {
  text-align: center;
  font-family: $font-secondary;
  font-size: $font-size-18;
  font-weight: 600;
}
.team_title {
  color: $color-lightgreen;
  font-size: 24px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-family: "Rubik";
  margin-top: 30px;
}
.team_text {
  line-height: 24px;
  text-align: center;
  font-family: $font-secondary;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}

/* Fin parte Azahara */
