/* Parte Azahara */
.team_image {
  width: 100vw;
  height: 316px;
  display: flex;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-image: url(/src/images/green-color-antenna-white-bee.jpg);
  background-size: 100% 100%;
}

.team_motto {
  box-sizing: border-box;
  width: 290px;
  height: 80px;
  flex-direction: row;
  position: absolute;
  top: 200px;
  background-color: white;
  opacity: 70%;
  transform: translate(50%, 50%);
  text-align: center;
  font-family: "Rubik";
  padding-top: 30px;
}

.team_title {
  color: $color-lightgreen;
  font-size: 24px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-family: "Rubik";
}
.team_text {
  line-height: 24px;
  text-align: center;
  font-family: $font-secondary;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}

/* Fin parte Azahara */
