/*PARTE MARTA*/
* {
  margin: 0;
}

/*MOBILE*/
.container-section-marta {
  margin: 0 15px;
  background-color: white;
}

.title-section {
  color: #099d8d;
  font-size: 24px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-family: "Rubik Medium";
  text-transform: uppercase;
}

.bee-container {
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /*flex-wrap: wrap;*/
}

.image-containerL,
.image-containerR {
  width: 180px;
  height: 180px;
  border: solid 7px#b8b8b9;
  border-radius: 5px;
  box-sizing: content-box;
}
.bee-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description-containerL,
.image-containerR {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.bee-nameL,
.bee-nameR {
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Open Sans Regular";
  text-align: center;
}

.bee-textL,
.bee-textR {
  color: #54585a;
  font-size: 16px;
  margin-bottom: 15px;
  /*margin-left: 15px;
  margin-right: 15px;*/
  line-height: 24px;
  /*padding-top: 15px;
  /*padding-left: 15px;
  padding-right: 15px;*/
  text-align: center;
  font-family: "Open Sans Regular";
}

.bee-socialmediaL,
.bee-socialmediaR {
  color: #099d8d;
  width: 124px;
  font-size: 16px;
  margin: auto;
  /*padding: 15px 98px 45px;*/
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  margin: auto;
}
.bee-socialmedia-linkL:after,
.bee-socialmedia-linkR:after {
  content: ".";
  position: absolute;
  margin-top: -5px;
  margin-left: 5px;
}

@media all and (min-width: 768px) {
  .container-section-marta {
    margin: 0 44px;
    background-color: white;
  }
  .title-section {
    padding: 0;
    margin-top: 45px;
    margin-bottom: 41px;
  }

  .bee-container {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /*gap: 20px;*/
  }

  .image-containerL {
    width: 205px;
    height: 205px;
    border: solid 7px #b8b8b9;
    border-radius: 6px;
    box-sizing: content-box;
    /*margin-left: 44px;*/
  }
  .image-containerR {
    width: 205px;
    height: 205px;
    border: solid 7px #b8b8b9;
    border-radius: 6px;
    box-sizing: content-box;
    order: 2;
    /*margin-left: 44px;*/
  }
  .description-containerL {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 60%;
    margin-left: 31px;
  }
  .description-containerR {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 60%;
    margin-right: 31px;
    order: 1;
  }

  .bee-nameL {
    text-align: left;
    /*margin-top: 41px;*/
    align-self: flex-start;
  }
  .bee-nameR {
    text-align: right;
    /*margin-top: 41px;*/
    align-self: flex-end;
  }

  .bee-textL {
    text-align: left;
    /*padding-top: 15px;*/
    margin-bottom: 15px;
    line-height: 24px;
  }
  .bee-textR {
    text-align: right;
    /*padding-top: 15px;*/
    margin-bottom: 15px;
    line-height: 24px;
  }

  .bee-socialmediaL {
    width: 124px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /*align-items: flex-start;*/
    /*padding: 0;*/
    margin: auto;
  }
  .bee-socialmediaR {
    width: 124px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /*align-items: flex-start;*/
    /*padding: 0;*/
    margin: auto;
  }
}

@media all and (min-width: 1200px) {
  .container-section-marta {
    margin: 0 138px;
    background-color: white;
  }

  .image-containerL {
    width: 278px;
    height: 278px;
    border: solid 7px #b8b8b9;
    border-radius: 7.7px;
    box-sizing: content-box;
  }
  .image-containerR {
    width: 278px;
    height: 278px;
    border: solid 7px #b8b8b9;
    border-radius: 7.7px;
    box-sizing: content-box;
    order: 2;
  }

  .bee-container {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /*gap: 20px;*/
  }

  .description-containerL {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 60%;
    margin-left: 45px;
  }
  .description-containerR {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 60%;
    margin-right: 45px;
  }

  .bee-nameL {
    text-align: left;
    /*margin-top: 41px;*/
    align-self: flex-start;
  }
  .bee-nameR {
    text-align: right;
    /*margin-top: 41px;*/
    align-self: flex-end;
  }

  .bee-textL {
    text-align: left;
    /*padding-top: 15px;*/
    margin-bottom: 15px;
    line-height: 24px;
  }
  .bee-textR {
    text-align: right;
    /*padding-top: 15px;*/
    margin-bottom: 15px;
    line-height: 24px;
  }

  .bee-socialmediaL {
    width: 124px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /*align-items: flex-start;*/
    /*padding: 0;*/
    margin: auto;
  }
  .bee-socialmediaR {
    width: 124px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /*align-items: flex-start;*/
    /*padding: 0;*/
    margin: auto;
  }
}

/*FIN PARTE MARTA*/
